body{
          background: #0C1821;
          /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 63, 21, 1) 16%, rgba(9, 9, 121, 1) 35%, rgba(164, 6, 103, 1) 56%, rgba(0, 212, 255, 1) 100%); */
}
.chelle  {
          color: red;
}
.mb-8{
          color: red;

}